VITE_SAMPLE_REQUEST_ENDPOINT=http://localhost:3009/webhooks/sample-request
# For the all-in-one Hostinger Node.js WebApp, use:
# VITE_SAMPLE_REQUEST_ENDPOINT=/webhooks/sample-request
VITE_DEBUG_FORMS=true
VITE_FORM_MODE=local_automation_api
