POSTGRES_USER=vanilla
POSTGRES_PASSWORD=change_this_password
POSTGRES_DB=vanilla_growth

N8N_ENCRYPTION_KEY=change_this_to_a_very_long_random_key
N8N_HOST=localhost
N8N_PORT=5678
N8N_PROTOCOL=http
WEBHOOK_URL=http://localhost:5678/
GENERIC_TIMEZONE=America/Guayaquil
TZ=America/Guayaquil

AUTOMATION_API_URL=http://automation-api:3009
AUTOMATION_API_PUBLIC_URL=http://localhost:3009
